@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}
a{
	color:#fff;
	text-decoration: none;
}
.clear-fix{
	zoom:1;
}
.clear-fix:after{
	content: "";
	clear:both;
	overflow: hidden;
	display: block;
	height: 0;
}
/*最顶部的样式*/
.header{

	position: relative;
	width:100%-90px;
	padding-right: 90px;
	height:57px;
	background-color:#228abf;
}

.header .header-logo{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin-left: 50px;
	line-height: 57px;
}
.header .sreach{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	display: inline-block;
	margin-left: 727px;
	width: 310px;
	height: 28px;
	border: 1px solid transparent;
    border-radius: 15px;
	margin-right: 20px;
	background: #fff;

}
.header a{
	vertical-align: middle;
	margin-left: 18px;
}
.header input{
	height: 28px;
	width: 260px;
	border: none;
}
.header .login{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin-left: 1146px;
	font-size: 12px;
	width: 44px;
	height: 15px;
	display: inline-block;
	background: url(../images/login.png) left center no-repeat;
}
.login span{
	margin-left: 17px;
}
/*左部的样式*/
.left-nav{
	width: 260px;
	background: #2a2e3d;
	display: inline-block;
}
/*左部上面的用户信息样式*/
.left-nav .self-message{
	height: 150px;
}
.self-message .head-pic{
	display: inline-block;
	margin-left: 47px;
	margin-top: 17px;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	border: 1px solid #fff;
	padding: 5px;
	background-clip: content-box;
	
}
.self-message .username{
	font-size: 16px;
	font-family: SimHei ;
	color:#fff;
	vertical-align: middle;
	display: inline-block;
	height: 57px;
	margin-left: 18px;
	
}
.self-message .collect{
	margin-left: 60px;
	
}
.self-message .collect .line{

	border-right: 2px solid #6e8095;
	padding-right: 34px;
	margin-right: 34px;
}
.collect >div{
	float:left;
}

.collect >div div{
	color: #6e8095;
	font-size: 12px;
}
/*菜单栏样式*/
.left-nav{
	
	float:left;
	height: 710px;
}
.first-nav li{
	color:#6d7f97;
	font-size: 12px;
}

.first-nav  a{
	color:#6d7f97;
}
.first-nav>li{
	padding-left: 47px;
	width: 100%-96px;
	margin-bottom: 45px;
	
}
.first-nav>li>i{
	margin-right: 14px;
}
.second-nav>li i{
	margin-right: 8px;
}
.second-nav
{
	margin-left: 25px;
	
}
.third-nav{
	margin-left: 32px;
	
}
.first-nav .click{
	color:#ededef;
}
.first-nav .active{
	
	background-color: #383e4e;
}
/*右部导航样式*/
.right-content{

	margin-left: 260px;
	width:1090px;
	
	background-color: #eeeeee;
	
}
.content-title{
	
	height: 30px;
	background-color: #fff;
	padding-left: 32px;
}
.content-title a{
	font-size: 12px;
	color:#b0b0b0;
	line-height: 30px;
}
.content-title a:last-child{
	color:#6797bf;
}
/*内容的样式*/
.center-content{
	padding-top: 20px;
	width: 890px;
	margin: 0 auto;
	
}
/*查询内容的样式*/
.center-content .search{
	margin-bottom: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 30px;
	background-color: #fff;
}
.search span{
	font-size: 12px;
	font-family: SimHei;
	color:#aaaaaa;
	margin-right: 17px;
	
}
.search select{
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;/*很关键：将默认的select选择框样式清除*/
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: SimHei;
	color:#323333;
}
select::-ms-expand { display: none; }/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.first-search{
	
	vertical-align: top;
	display: inline-block;
}
.short{
	width: 70px;
	height: 28px;
	padding-left: 5px;
	line-height: 28px;
	background: url(../images/black-select.png) 50px center no-repeat;
	
}
.first{
	background: url(../images/blue-select.png) 50px center no-repeat;
	margin-right: 40px;
}
.people{
	
	width: 170px;
	display: inline-block;
	padding-right: 20px;
	background: url(../images/change-select.png)right center no-repeat;
	
}

.long{
	
	width: 120px;
	height: 28px;
	padding-left: 5px;
	line-height: 28px;
	margin-bottom: 7px;
	background: url(../images/black-select.png) 102px center no-repeat;
}
.people select:last-child{
	margin-bottom: 0;
}
.date{
	display: inline-block;
	width: 300px;
	margin-left: 33px;
	margin-right: 33px;
	
}
.date select:nth-of-type(2n-1)
{
	margin-right: 10px;
}
.date select:nth-of-type(3),.date select:nth-of-type(4)
{
	margin-bottom: 0;
}
.input{
	display: inline-block;
	vertical-align: top;
	line-height: 60px;
	
}
.button{
	
	width:50px;
	height: 25px;
	background-color: #3981c1;
	line-height: 25px;
	color:#fff;
	border:none;
}
/*历史查询样式*/
.history-content .next{
	vertical-align: top;
	display: inline-block;
	width: 32px;
	height: 62px;
	margin-right: 2px;
	
}
.history-content .left{
	background: url(../images/left.png)center center no-repeat;
	background-color: #fff;
}
.history-content .right{
	background: url(../images/right.png)center center no-repeat;
	background-color: #fff;
}
.history-content ul{
	display: inline-block;
	
}
.history-content ul li{
	display: inline-block;
	width: 110px;
	height: 50px;
	background-color: #fff;
	
	text-align: center;
	padding-top: 12px;
}
.history-content ul li:hover{
	border-top: 4px solid #4388c9;
	margin-top: -4px;
	
}
.history-content ul li div{
	font-size: 12px;
}
.history-content ul li div:last-child{
	font-size: 21px;
	color:#ec6500;
}.history-content ul li div:last-child:before{
	content: "￥";
	fcont-size: 21px;
	color:#aaaaaa;
	
}
.history-content .button{
	display:inline-block;
	width: 58px;
	height: 62px;
	vertical-align: top;
	background: url(../images/date.png) 20px center no-repeat;
	background-color: #fff;
	padding-left: 63px;
	font-size: 12px;
	color: #535353;
	line-height: 62px;
}
.volume{
	margin-top: 20px;
	margin-bottom: 15px;
}
.volume .time{
	font-size: 12px;
	color:#323333;
	display: block;
}
.volume ul li{
	width: 166px;
	height: 50px;
	background-color: #fff;
	display: inline-block;
	margin-right: 25px;
	padding: 10px 15px;
}
.volume ul li:last-child{
	margin-right: 0;
}
.volume ul li div{
	display: inline-block;
	
}
.volume ul li div:first-child{
	
	vertical-align: top;
}
.volume ul li div span:first-child{
	display: block;
	font-size: 12px;
	color:#323333;
	
}
.volume ul li div span:last-child{
	
	font-size: 10px;
	color:#aaaaaa;
	
}
.volume ul li div:last-child{

	width: 60px;
	height: 48px;
	background-color: red;
	margin-left: 61px;
}
.volume ul li:nth-child(1){
	border: 1px solid #d3d4d8;
	border-left: 3px solid #43b39d;
}
.volume ul li:nth-child(1) div:last-child{
	background-color: #43b39d;
}
.volume ul li:nth-child(2){
	border: 1px solid #d3d4d8;
	border-left: 3px solid #398ac1;
}
.volume ul li:nth-child(2) div:last-child{
	background-color: #398ac1;
}
.volume ul li:nth-child(3){
	border: 1px solid #d3d4d8;
	border-left: 3px solid #cf4b36;
	
}
.volume ul li:nth-child(3) div:last-child{
	background-color: #cf4b36;
}
.volume ul li:nth-child(4){
	border: 1px solid #d3d4d8;
	border-left: 3px solid #e1cd46;
}
.volume ul li:nth-child(4) div:last-child{
	background-color: #e1cd46;
}
/*选项卡样式*/
.tab-nav{
	display: inline-block;
	width: 530px;
	height: 350px;
	border: 1px solid #d3d4d8;
	border-radius: 5px;
	background-color: #fff;
	padding-bottom: 25px;
}
.tab-nav .title{
	padding-left: 15px;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	color: #aaaaaa;
	background-color: #f4f5f7;
}
.tab-nav .content{
	padding-top: 16px;
	padding-left: 20px;
}
.tab li{
	float:left;/*脱离文本流后boder-bootom就可以将div的boder-top遮住一部分*/
	width: 86px;
	height: 26px;
	border: none;
	margin-right: 4px;
	background-color: #ededef;	
}
.content div{
	width: 407px;
	height: 184px;
	border: 1px solid #aaa;
	margin-top: 26px;
	padding: 36px 50px 40px 36px
	
	
}
.tab .show{
	
	border: 1px solid #aaa;
	border-bottom: 2px solid #fff;
	background-color: #fff;
	
}
.content .on{
	display: block;
}
.content .hide{
	display: none;
}
.content table{
	border-right:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
	width: 403px;
	height: 185px;
}
.content table td{
	width: 100px;
	height: 30px;
	border-left:1px solid #d2d2d2;
	border-top:1px solid #d2d2d2;
	font-size: 12px;
	coloe:#535353;
	line-height: 30px;
	text-align: center;
}
.content table td:hover{
	background-color: #D0D2D5;
}
.tab-next{
	vertical-align: top;
	display: inline-block;
	margin-left: 5px;
	width: 345px;
	height: 375px;
	border: 1px solid #d3d4d8;
	border-radius: 5px;
	background-color: #fff;
	
}
.tab-next .title{
	padding-left: 15px;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	color: #aaaaaa;
	background-color: #f4f5f7;
}
.tab-next  .contents{
	padding: 15px 0 36px 36px;
}
.tab-next  .contents .titles{
	font-size: 12px;
	color:#c3c2c2;
	margin-left: 17px;
}
.tab-next  .contents .font{
	font-size: 12px;
	color:#535353;
	margin-left: 17px;
}
.tab-next  .contents span:first-child{
	display: block;
}
.tab-next  .contents .box{
	margin-top: 5px;
	border-top:1px solid #aaaaaa;
	border-bottom:1px solid #aaaaaa;
	width: 288px;
}
.tab-next  .contents .left {
	
	width: 94px;
	height: 44px;
	border-right:1px solid #aaaaaa;
	display: inline-block;
	
}
.tab-next  .contents .right {
	display: inline-block;
	
}
.tab-next  textarea{
	margin-top: 5px;
	width: 268px;
	height: 125px;
	display: block;
}
.tab-next .button{
	margin-left: 120px;
}